div[name=n1] {background-color: green;}


/* div 중에 name 속성값이 name1과 일치하는 태그 */
div[name=name1] {
    background-color: orangered;
}

/* div 중에 name 속성안에 name1이 포함되어 있는 태그 (단, 속성값이 띄어쓰기로 구분) */
div[name~=name1] {
    background-color: yellow;
}

/* div 중에 class 속성에서 class로 시작되는 태그 (단, -로 구분) */
div[class|=class] {
    background-color: springgreen;
}

/* div 중에 name 속성이 name으로 시작되는 태그 */
div[name^=name] {
    background-color: blue;
}

/* div 중에 class 속성이 class로 끝나는 태그 */
div[class$=class] {
    color: white;
}

/* div 중에 class 속성에 i를 포함하는 태그 */
div[class*=i] {
    background-color: greenyellow;
    color: red;
}

/* 클래스 div-class인 것 중 name 속성값에 name3 포함되어 있는 경우 (단, 속성값이 띄어쓰기로 구분)*/
.div-class[name~=name3] {
    background-color: pink;
}

/* =============================================================================== */
/* 자식 / 후손 선택자 */

ul >li.apple {background-color: aqua;}

#test-children {background-color: red;}
#test-children >span {background-color: aliceblue;}
#test-children >strong {background-color: aquamarine;}
#test-children >ul {background-color: violet;}
#test-children >ul >li {background-color: brown;}
#test-children li {background-color: bisque !important;}

/* 동위 선택자 */
/* #same-level-test {background-color: violet;} */
#same-level-test+div {background-color: blue;}
/* #same-level-test~div {background-color: aliceblue;} */

/* 반응 선택자 */
#active-test {background-color: lightgray;}
#active-test:active {background-color: aqua;}
#hover-test {background-color: darkgray;}
#hover-test:hover {background-color: aquamarine;}

/* 상태 선택자 */
#focus-test:focus {background-color: gray;}
#checkbox-test {width:10px; height:10px; transition:0.4s;}
#checkbox-test:checked {width:100px; height:100px;}
#enabled-test:enabled {background-color: gray;}
#disabled-test:disabled {background-color: gray;}

/* 일반 구조 선택자 */
#test-div >p:not(:nth-of-type(4n)) {background-color: gray !important;}
#test-div >p:first-child {background-color: red;}
#test-div >pre:last-child {background-color: blue;}
#test-div >p:nth-child(3) {background-color: green;}
#test-div >p:nth-child(2n+1) {background-color: purple;}
#test-div >p:nth-of-type(2n) {background-color: yellow;}
#test-div >p:nth-of-type(5) {background-color: yellow;}

/* 문자 선택자 */
#string-test {background-color: gray;}
#string-test::first-letter {color:coral; font-size:30px;}
#string-test::first-line {color:cornflowerblue;}
#string-test::selection {color:cadetblue;}
#string-test::before {content:'안녕'; color:rebeccapurple;}
#string-test::after {content:'안녕'; color:red; font-size:large;}

#angle-test {position: relative; display: flex; align-items: center; justify-content: center;}
#angle-test >div {display: flex; align-items: center; justify-content: center; width: 100px; height: 100px; background-color: unset; border-radius:20px; overflow: hidden;}
#angle-test >div::before {content:''; display: block; width:100px; height: 50px; background-color: red; opacity: 0.5; transform: rotate(45deg);}