body {margin-bottom: 100px;}
#ff01 {
    font-family: "궁서체";
}

#ff02 {
    font-family: "용용체" , "없은글꼴" , "굴림";
}

#fs {
    font-size: 2rem;
}

#fw {
    font-weight: bold;
}

#fstyle {
    font-style: oblique;
    /* font-style: italic; */
}

#text-color {
    color: red;
    color: rgba(255, 0, 0, 0.5);
}

#td {
    text-decoration: blue line-through;
}

#tt {
    text-transform: lowercase;
}

#ts {
    font-size: 3em;
    font-weight: bold;
    text-shadow: 30px 100px 5px red,
    40px 20px 3px blue,
    10px -5px 15px green;
    /* 가로 세로 블러 색상 */
}

#ls {
    /* letter-spacing: 15px; */
    /* word-spacing: 10px; */
    /* text-align: justify; */
    line-height: 50px;
}

#to {
    background-color: gray;
    width: 300px;
    height: 300px;
    overflow: auto;
}

#uls {
    list-style-type: none;
}

#ols {
    list-style-type: upper-alpha;
    list-style-image: url(/resources/image/vando.png);
}