h1 {background-color: red;}

#outer {
    border:5px solid red;
    display: grid;
    /* grid-template-columns:repeat(2, 200px); 
    grid-template-rows:repeat(3, 100px); */
    width:500px;
    height:500px;

    /* grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr; */

    /* grid-template-rows:100px 1fr 100px 1fr;
    grid-template-columns: 200px 200px; */
    
    /* grid-template-rows:repeat(2,100px 1fr);
    grid-template-columns:200px 200px; */
    
    grid: 100px 100px 100px / 200px 200px;

    /* 아이템 정렬 */
    /* 
    justify-item:center;
    align-item:center; 
    */

    /* 셀 정렬 */
    /* 
    justify-content:center;
    align-content:center; 
    */

    /* place-items:start center;
    place-content:end; */
    place-items: stretch;

    /* 셀 사이 간격 조정 */
    /* row-gap: 30px;
    column-gap: 30px;
    gap: 30px 20px; */
    gap: 10px;

    /* 흐름 변경  */
    /* grid-auto-flow: column; */
}

#outer >button:nth-of-type(1) {
    /* 셀 병합 */
    /* grid-row-start: 1;
    grid-row-end: 4; */
    /* grid-row: 1 / 4; */
    /* grid-row: span 2;
    grid-column: span 2; */

    /* 순서 변경 */
    /* order: 1; */
    grid-area: 3;
    grid-area: 3 /2;

    /* 정렬 */
    justify-self: center;
    align-self: start;
    place-self: center;
}

#outer >div {border: 1px solid gray;}
